.result{
	margin-top: 30px;
	position: relative;
	top:0;
	margin-bottom: 50%;

}
li{
	border-bottom: solid 1px black;
}
/*Barre de recherche index*/
	
.container1{
	width: 75%;
	height: 90px;
	margin-top: 60px;
	margin-left: auto;
	margin-left: auto;
	margin-right: auto;
	
	background-position: center;
	display: flex;
	justify-content: center;


}
.search-bar{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.57); 
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.57);
    z-index:1;
	width: 100%;
	max-width: 700px;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	border-radius:10px ;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate();
	background-color: lightgrey;

}
.search-bar input{
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 24px 20px;
	font-size:20px ;
}



.search-bar button img{
	width: 25px;
 
}

.search-bar button{
	border-radius:50%;
	border: 0;
	width: 60px;
	height: 60px;
	background:#58629b;
	cursor: pointer;
}

/*Fin de la barre de recherche*/

.container{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    margin-top: 20px;

}
.card{
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.globalContainer{
	margin-bottom: 10%;
}

.cardImg{
    width: 100%;
    margin-left: -20px;
    border: solid 1px black;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);

}
.astuce{
    min-height: 70px;
    margin-top: 30px;
    border: solid 1px black;
}