  * {
      box-sizing: border-box;
    }
    
    body {
      margin: 0px;
      font-family: 'segoe ui';
      
    }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
