	.login {
		width: 400px;
		margin: 16px auto;
		font-size: 16px;
		margin-bottom: 15%;
		margin-top:10%;
	}
	
	.login-header,
	.login p {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.login-triangle {
		width: 0;
		margin-right: auto;
		margin-left: auto;
		border: 12px solid transparent;
		border-bottom-color: rgb(15, 66, 107);
	}
	
	.login-header {
		background: dodgerblue;
		padding: 20px;
		font-size: 1.4em;
		font-weight: normal;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
	}
	
	.login-container {
		background: #ebebeb;
		padding: 12px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	

	span{
		font-size: 10px;
		float:left;
		margin-left:48px;
		color:red;
	  }
	.login p {
		padding: 12px;
	}
	
	.login input{
		display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
		border: none;
		  border-bottom: 2px solid #D1D1D4;
		  background: none;
		  padding: 10px;
		  padding-left: 24px;
		  font-weight: 700;
		  width: 75%;
		  transition: .2s;
	  }
	
	.login input[type="email"],
	.login input[type="password"] {
		background: none;
		border-color: #bbb;
		color: black;
	}
	
	.login input[type="email"]:focus,
	.login input[type="password"]:focus {
		border-color: #888;
	}
	
	.login input[type="submit"] {
		background: rgb(1, 29, 51);
		border-color: transparent;
		color: #fff;
		cursor: pointer;
		border-radius: 8px;
	}
	
	.login input[type="submit"]:hover {
		background: #17c;
	}
	
	.login input[type="submit"]:focus {
		border-color: #05a;
	}

	.login input[type=submit]:disabled {
		background-color: gray;
		cursor:default;
	}

	@media (max-width: 800px) {
		.login {
			width: 80%;
			margin: 16px auto;
			font-size: 16px;
			margin-bottom: 30%;
			margin-top:20%;
		}
		
	}